* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#control {
    margin: auto;
    text-align: center;
    padding: 20px;
}

#control button {
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
}

#grid {
    border: solid 1px black;
    height: 502px;
    width: 502px;
    margin: auto;
}

.boxes {
    border: 0.1px solid black;
    width: 6.25%;
    height: 6.25%;
    float: left;
}
    